---
import KeywordsLookup from '../components/KeywordsLookup.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Digimon Card Game Keyword and Rule Lookup">
    <main>
        <KeywordsLookup />
    </main>
</Layout>
