---
import DigimonPlaymat from '../components/Playmat.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Digimon TCG Playmat">
    <main>
        <DigimonPlaymat />
    </main>
</Layout>

<style>
    main {
        padding: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }
</style>