---
import DigimonPlaymat from '../components/Playmat.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Printable Digimon Card Game Playmat">
    <main>
        <DigimonPlaymat />
    </main>
</Layout>
