---
import QuickStart from '../components/QuickStart.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Digimon Card Game Quick Start Guide">
    <main>
        <QuickStart />
    </main>
</Layout>
