---
import QuickStart from '../components/QuickStart.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Digimon TCG Playmat">
    <main>
        <QuickStart />
    </main>
</Layout>
