---
import CardArea from './CardArea.astro';
---

<div class="breeding-area">
    <div class="breeding-area-title">Breeding Area</div>
    <div class="breeding-area-content">
        <CardArea label="Digi-Egg Deck" />
        <CardArea label="Digi-Egg Space" />
    </div>
</div>

<style>
    .breeding-area {
        border: 1px solid black;
        padding: 0.5rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .breeding-area-title {
        font-weight: bold;
        text-align: center;
    }

    .breeding-area-content {
        display: flex;
        gap: 0.5rem;
        flex: 1;
        justify-content: center;
    }
</style>
