<div class="security-stack">
    <div class="security-top-card">
        <div class="card-label">Security Stack</div>
    </div>
    <div class="security-bottom-card"></div>
    <div class="security-bottom-card"></div>
    <div class="security-bottom-card"></div>
    <div class="security-bottom-card"></div>
</div>

<style>
    .security-top-card {
        border: 1px solid black;
        padding: 1rem;
        border-radius: 0 1rem 1rem 0;
        height: calc(2.5vw * 8.5); /* This will be 2.5" when printed */
        width: calc(3.5vw * 8.5); /* This will be 3.5" when printed */
        background-color: white;
        z-index: 0;
    }

    .security-bottom-card {
        border: 1px solid black;
        padding: 1rem;
        border-radius: 0 1rem 1rem 0;
        height: calc(2.5vw * 8.5 / 10); /* This will be 2.5" when printed */
        width: calc(3.5vw * 8.5); /* This will be 3.5" when printed */
        background-color: white;
        margin-top: -30px;
        z-index: 1;
    }
</style>
