---
import digimonToolsLogo from '../assets/digimonToolsLogo.png';
---

<div id="container">
    <main>
        <section id="hero">
            <img src={digimonToolsLogo.src} alt="Digimon Tools logo" />
            <h1>Digimon Tools</h1>
            <p>A collection of tools for the 2020 Digimon Card Game.</p>

            <section>
                <ul>
                    <li><a href="/playmat">Printable Playmat</a></li>
                </ul>
                <ul>
                    <li><a href="/quickstart">Printable Quick Start Guide</a></li>
                </ul>
            </section>
        </section>
    </main>

    <footer class="footer">
        <div>
            Made with ❤️ by <a href="https://joeduncko.com">Joe Duncko</a>
        </div>
        <div>Digimon © Akiyoshi Hongo, Toei Animation</div>
        <div class="footer-links">
            <a
                href="https://github.com/joeduncko/digimon-tools"
                target="_blank"
                rel="noopener noreferrer"
                title="Fork me on GitHub"
            >
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                    ><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path
                        d="M80 104a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm80-24c0 32.8-19.7 61-48 73.3l0 87.8c18.8-10.9 40.7-17.1 64-17.1l96 0c35.3 0 64-28.7 64-64l0-6.7C307.7 141 288 112.8 288 80c0-44.2 35.8-80 80-80s80 35.8 80 80c0 32.8-19.7 61-48 73.3l0 6.7c0 70.7-57.3 128-128 128l-96 0c-35.3 0-64 28.7-64 64l0 6.7c28.3 12.3 48 40.5 48 73.3c0 44.2-35.8 80-80 80s-80-35.8-80-80c0-32.8 19.7-61 48-73.3l0-6.7 0-198.7C19.7 141 0 112.8 0 80C0 35.8 35.8 0 80 0s80 35.8 80 80zm232 0a24 24 0 1 0 -48 0 24 24 0 1 0 48 0zM80 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"
                    ></path></svg
                ></a
            >
            <a
                href="https://dashboard.simpleanalytics.com/digimon.tools"
                target="_blank"
                rel="noopener noreferrer"
                title="View Analytics"
            >
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                    ><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path
                        d="M32 32c17.7 0 32 14.3 32 32l0 336c0 8.8 7.2 16 16 16l400 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L80 480c-44.2 0-80-35.8-80-80L0 64C0 46.3 14.3 32 32 32zm96 96c0-17.7 14.3-32 32-32l192 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-192 0c-17.7 0-32-14.3-32-32zm32 64l128 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-128 0c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 96l256 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-256 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"
                    ></path></svg
                >
            </a>
        </div>
    </footer>

    <style>
        #container {
            font-family: 'Arial', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            gap: 1rem;
            justify-content: space-around;
            margin: 1rem;
        }

        #hero {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        #hero img {
            width: 100px;
            height: 100px;
        }

        #hero h1 {
            font-size: 2rem;
            font-weight: 600;
            margin-top: 1rem;
        }

        #hero p {
            font-size: 1.2rem;
            margin-top: 0.5rem;
        }

        #hero section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #hero section ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #hero section ul li {
            margin-bottom: 0.5rem;
        }

        #hero section ul li a {
            color: #000;
        }

        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            text-align: center;
        }

        .footer-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }
    </style>
</div>
